* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

button {
  outline: none;
  border: 0;
  padding: 8px 20px;
  color: #fff;
  font-weight: bold;
  background-color: #26c281;
  cursor: pointer;
}

table {
  border: 1px solid #888;
  margin-top: 50px;
}

p {
  color: #6c7a89;
}

td {
  text-align: center;
  color: #6c7a89;
  font-size: 15px;
  border: 1px solid #888;
}
